<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION</title>
    <style>
        h1{
        border-style: solid;
        background-color: purple;
        color: white;
        text-decoration: underline;
        text-align: center;
        padding: 5px;
        }
        body{
        border-style: solid;
        background-color: pink;
        padding: 150px;
        text-align: center;
        }
    </style>
</head>
<body>
<h1>REGISTRATION</h1>
<form action="registration" method="post">
    {% csrf_token%}
    <input type="text" name="username" placeholder="Enter username"><br>
    <input type="text" name="first_name" placeholder="Enter your first_name"><br>
    <input type="text" name="last_name" placeholder="Enter your last_name"><br>
    <input type="email" name="email" placeholder="Enter your email id"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>